* {
    padding: 0;
    margin: 0;
    }

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: whitesmoke;
}

p {
    line-height: 2;
    padding-left: 10px;
    padding-right: 10px;
}

/*utilities*/
.text-center {
    text-align: center;
    text-transform: uppercase;
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/*header*/

header {
    background-color: white;
    color: black;
    text-align: center;
}

h1 {
    padding: 10px;
    text-shadow: 2px 2px gray;
}

h2 {
    padding: 10px;
    text-shadow: 2px 2px gray;
}

h3 {
    text-align: center;
    padding-bottom: 10px;
    text-shadow: 2px 2px gray;
    letter-spacing: 1px;
}

h4 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

/*bio*/

/*assignment notes
text-shadow
letter-spacing
*/

